# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.vscode
conf

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php

# Remove Non LWS plugins
/wp-content/plugins/
/wp-content/upgrade-temp-backup/

/wp-content/advanced-cache.php
/wp-content/wp-rocket-config
/wp-content/cache
/wp-content/upgrade
/wp-content/wflogs

/wp-content/themes/index.php
/wp-content/themes/iyaka/node_modules
/wp-content/themes/iyaka/dist
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/
/wp-content/themes/mageprotec/node_modules

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php
.DS_Store
wp-content/plugins/health-check/HealthCheck/class-health-check-screenshots.php
wp-content/plugins/health-check/HealthCheck/Tools/class-health-check-beta-features.php
wp-content/plugins/health-check/HealthCheck/Tools/class-health-check-debug-log-viewer.php
wp-content/plugins/health-check/HealthCheck/Tools/class-health-check-htaccess.php
wp-content/plugins/health-check/HealthCheck/Tools/class-health-check-robotstxt.php
wp-content/plugins/health-check/build/health-check-global.asset.php
wp-content/plugins/health-check/build/health-check-global.js
wp-content/plugins/health-check/pages/screenshots.php
local-xdebuginfo.php
wp-content/themes/delhez/.devcontainer/devcontainer.json
wp-content/themes/delhez/.devcontainer/docker-compose.yml
wp-content/themes/delhez/.devcontainer/wp-setup.sh